{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
//        $(document).ready(function(){
//            $('.tabs a').click(function (e) {
//                e.preventDefault()
//                $(this).tab('show')
//            })
//        })
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <br />
            <img src="/uploads/{{ journal.photo }}" class="img-thumbnail">
        </div>
        <div class="col-xs-7 col-md-8">
            <br />
            <h2>{{ journal.title }}</h2>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('post_add', { 'journalId' : journal.id }) }}"><span class="btn btn-primary">Добавить новую статью</span></a>
                <br />
                <br />
            {% endif %}
            <div>
                {{ journal.description }}
            </div>
        </div>
    </div>
    <div class="well">
        {% for p in posts %}
            <div class="row">
                <div class="col-xs-10">
                    <div class="journal-title">
                        <a href="{{ path('post_show',{'journalId' : journal.id, 'id' : p.id }) }}">{{ p.title }}</a>
                        <br />
                        <a href="{{ path('post_show',{'journalId' : journal.id, 'id' : p.id, 'type' : 'en' }) }}"><button class="btn btn-default">EN</button></a>
                        <a href="{{ path('post_show',{'journalId' : journal.id, 'id' : p.id, 'type' : 'pdf-ru' }) }}" target="_blank"><button class="btn btn-default">PDF Ru</button></a>
                        <a href="{{ path('post_show',{'journalId' : journal.id, 'id' : p.id, 'type' : 'pdf-en' }) }}" target="_blank"><button class="btn btn-default">PDF En</button></a>
                    </div>
                    <br />
                    <div class="journal-desc"><b>Авторы: </b>{{ p.author }}</div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-xs-2">
                        <a href="{{ path('post_edit',{'journalId' : journal.id, 'id' : p.id }) }}">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-edit text-warning"></span></button>
                        </a>

                        <a href="{{ path('post_remove',{'journalId' : journal.id, 'id' : p.id }) }}">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#desc{{ p.id }}" aria-controls="desc{{ p.id }}" role="tab" data-toggle="tab">Абстракт</a></li>
                        <li role="presentation"><a href="#descen{{ p.id }}" aria-controls="descen{{ p.id }}" role="tab" data-toggle="tab">Abstract</a></li>
                        <li role="presentation"><a href="#author{{ p.id }}" aria-controls="author{{ p.id }}" role="tab" data-toggle="tab">Авторы</a></li>
                        <li role="presentation"><a href="#keyword{{ p.id }}" aria-controls="keyword{{ p.id }}" role="tab" data-toggle="tab">Ключ. слова</a></li>
                        <li role="presentation"><a href="#keyworden{{ p.id }}" aria-controls="keyworden{{ p.id }}" role="tab" data-toggle="tab">Keywords</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="desc{{ p.id }}">
                            <br />
                            {{ p.description | raw }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="descen{{ p.id }}">
                            <br />
                            {{ p.descriptionEn | raw }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="keyword{{ p.id }}">
                            <br />
                            {{ p.keywords | raw }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="keyworden{{ p.id }}">
                            <br />
                            {{ p.keywordsEn | raw }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="author{{ p.id }}">
                            <br />
                            {{ p.author | raw }}
                        </div>
                    </div>

                </div>
            </div>
            <hr />
        {% endfor %}
    </div>
{% endblock %}