{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    $('#scroller').fadeIn();
                } else {
                    $('#scroller').fadeOut();
                }
            });
            $('#scroller').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 400);
                return false;
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h2><a href="{{ path('post_list',{'journalId' : journal.id }) }}">{{ journal.title }}</a></h2>
    <div id="scroller"></div>
    <div class="well">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                {% if type == 'en' %}
                    <h2>{{ post.titleEn }}</h2>
                    <div class="">{{ post.descriptionEn |raw }}</div>
                    <div class="">{{ post.bodyEn |raw }}</div>
                {% else %}
                    <h2>{{ post.title }}</h2>
                    <div class="">{{ post.description |raw }}</div>
                    <div class="">{{ post.body |raw }}</div>
                {% endif %}
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
{% endblock %}