{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h2>Список журналов</h2>
    <div class="well">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('journal_add') }}"><span class="btn btn-primary">Добавить новый журнал</span></a>
            <br />
            <br />
        {% endif %}
        {% for j in journals %}
            <div class="row">
                <div class="col-xs-3 col-md-2">
                    <img src="/uploads/{{ j.photo }}" class="img-thumbnail">
                </div>
                <div class="col-xs-7 col-md-8">
                    <div class="journal-title"><a href="{{ path('post_list',{'journalId' : j.id }) }}">{{ j.title }}</a></div>
                    <div class="journal-desc"><b>Кол-во статей:</b> {{ j.posts | length }}</div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-xs-2">
                        <a href="{{ path('journal_edit',{'id' : j.id }) }}">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-edit text-warning"></span></button>
                        </a>

                        <a href="{{ path('journal_remove',{'id' : j.id }) }}">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <hr />
        {% endfor %}
    </div>
{% endblock %}